<div id="login" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="mx-auto">
          <div class="card_login">
            <div class="card">
              <div class="card-body text-center azulM">
                <form #formLogin="ngForm" (submit)="onLogin()" class="paddingCard">
                  <h1 class="h3 mb-3 font-weight-normal" >Iniciar Sesión</h1>
                  <div class="alert alert-danger" role="alert">
                    Algo ocurrio mal!!
                  </div>
                  <div class="form-group">
                    <input [(ngModel)]="email" type="email" id="email" name="email" class="form-control" placeholder="Correo electrónico" required>
                  </div>
                  <div class="form-group">
                    <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                  </div>
                  <button type="submit" class="btn btn-lg lila btn-block">Ingresar</button>

                  <div class="form-group">
                  
                    <button class="btn btn-block btn-social btn-google mt-4" (click)="onLoginGoogle()">
                      <span class="fa fa-google"></span>
                      GOOGLE
                    </button>
                  
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>